:root {
    --color-rojo: hsl(0, 30%, 50%);

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    box-sizing: border-box;

}

/* --------------HEADER------------- */
header {
    background-image: url(/assets/pictures/Header.avif);
    background-size: cover;
    padding: 1em 1em;
}

h1 {
    color: rgba(0, 128, 255, 0.745);
    text-align: center;
}

.head-pos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 1em;
    font-size: 20px
}

.search {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px 7px 15px 7px;
    background-color: rgba(0, 128, 255, 0.745);
    border-radius: 3px;
    color: white;

}

header input {
    width: 100%;
    height: 2vh;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0px 5px;
}

/* ------------------------Publi-------------- */

section {
    display: flex;
    justify-content: space-between;
    background-color: rgba(109, 172, 236, 0.745);
    height: 10vh;
    
}
section p{
    font-size: 18px;
    font-weight: 600;
}

.playstore{
    padding: 1em;

}


/* ------Imagenes---------- */

img:first-child {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 1.5em;
}